@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blur-blue:#70D9FF;
  --blur-yellow:#FFE5AA;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-blur-blue:var(--blur-blue);
  --color-blur-yellow:var(--blur-yellow);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
